* {
    margin: 0;
    padding: 0;
}

*, ::after, ::before{
	box-sizing: border-box;
}

body{
    min-width: 100%;
    font-family: 'Reem Kufi', sans-serif;
}

.nav{
    width: 100%;
    border-bottom: 2px solid #efefef;
    margin-bottom: 100px;
}

.nav-container{
    margin: 10px;
    width: 100%;
    /* background-color: red; */
}

.nav-content{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-content a {
	text-decoration: none;
	outline: none;
}

.logo-left{
    display: inline-flex;
    align-items: center;
    color: #874343;
    margin-left: 40px;
}

#logo-name{
    font-size: 50px;
    font-style: normal;
    margin-top: 10px;
    font-weight: normal;
    margin-left: 15px;
    font-family: 'Reem Kufi', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.selections{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #7d7b7b;
    margin-left: 30px;
}

.selections ul li{
    margin-right: 25px;
    padding: 0;
    list-style: none;
    display: inline;
}

.selections a {
    color: #7d7b7b;
    text-decoration: none;
}

.search-container{
    display: flex;
    width: 765px;
    height: 40px;
    margin-left: 35px;
    background: #efefef;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    align-items: center;
}

.search-box{
    display: flex;
    height: 100%;
    align-items: center;
}

.search-container img{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.search-container form{
    background: none;
    border: none;
    width: 100%;
    height: 100%;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 20px;
    font-family: 'Poppins' sans-serif;
    background: none;
    outline: none;
    margin-left: 15px;
}

.mid-section{
	width: 60%;
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
	flex-direction: column;
	font-family:'Poppins', sans-serif;
}

.title p{
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: light;
}

.title{
	width: 100%;
	border-bottom: 1px solid #cdd0c6;
	margin-bottom: 25px;
}

.order-box {
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #cdd0c6;
	justify-content: space-between;
	margin-bottom: 25px;
}

.order-pic{
	width: 35%;
	margin-bottom: 25px;
	
}

.order-pic img{
	width: 100%;
}

.order-info{
	width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-self: safe;

}

#order-num{
	margin-bottom: 10px;
}

#order-title{
	margin-bottom: 85px;
	
}



























